<ion-header>
  <ion-toolbar>
	<ion-buttons slot="start">
		<ion-back-button [routerLink]="'/tabs/selfCare'"></ion-back-button>
	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid style="height: 100%; display:flex; flex-flow: column">
		<ion-row class="ion-justify-content-center ion-align-items-center" style="flex: 2;">
			<ion-col size=8>
				<ion-img src="/assets/RaccoonCelebrating1.svg"></ion-img>
			</ion-col>
		</ion-row>
		<ion-row class="ion-justify-content-center ion-align-items-center" style="flex: 1;">
			<ion-col size=8>
				<span style="text-align: center">! I'll make sure to remind you of that!</span>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
