<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="welcome">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Welcome</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="selfCare">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Self Care</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mood">
      <ion-icon name="send"></ion-icon>
      <ion-label>Moods</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
