<ion-content>
	<ion-header>
		<ion-toolbar>
			<ion-buttons slot="start">
				<ion-back-button defaultHref="/tabs/selfCare"></ion-back-button>
			</ion-buttons>
			<ion-title>New Activity</ion-title>
			<ion-buttons slot="end">
				<ion-button (click)="createActivity()" fill="clear" [disabled]="!valid">
					<ion-icon slot="icon-only" name="checkmark"></ion-icon>
				</ion-button>
			</ion-buttons>
		</ion-toolbar>
	</ion-header>
		<ion-list>
			<ion-item>
				<ion-label>Name</ion-label>
				<ion-input style="text-align: right" [value]="name" (ionChange)="handleNameUpdate($event)"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>Time</ion-label>
				<ion-datetime [value]="time.toString()" (ionChange)="handleTimeUpdate($event)" display-format="HH:mm" placeholder="Time" minuteValues="0,15,30,45"></ion-datetime>
			</ion-item>
		</ion-list>
		<ion-list>
			<ion-list-header>
				Days
			</ion-list-header>
			<ion-item (click)="toggleDay(0)">
				<ion-label>Monday</ion-label>
				<ion-checkbox [checked]="days[0]"></ion-checkbox>
			</ion-item>
			<ion-item (click)="toggleDay(1)">
				<ion-label>Tuesday</ion-label>
				<ion-checkbox [checked]="days[1]"></ion-checkbox>
			</ion-item>
			<ion-item (click)="toggleDay(2)">
				<ion-label>Wednesday</ion-label>
				<ion-checkbox [checked]="days[2]"></ion-checkbox>
			</ion-item>
			<ion-item (click)="toggleDay(3)">
				<ion-label>Thursday</ion-label>
				<ion-checkbox [checked]="days[3]"></ion-checkbox>
			</ion-item>
			<ion-item (click)="toggleDay(4)">
				<ion-label>Friday</ion-label>
				<ion-checkbox [checked]="days[4]"></ion-checkbox>
			</ion-item>
			<ion-item (click)="toggleDay(5)">
				<ion-label>Saturday</ion-label>
				<ion-checkbox [checked]="days[5]"></ion-checkbox>
			</ion-item>
			<ion-item (click)="toggleDay(6)">
				<ion-label>Sunday</ion-label>
				<ion-checkbox [checked]="days[6]"></ion-checkbox>
			</ion-item>
		</ion-list>
</ion-content>