<ion-header>
	<ion-toolbar>
		<ion-title>Self Care</ion-title>
		<ion-buttons slot="end">
			<ion-button [routerLink]="'/tabs/selfCare/create/introduction'" routerDirection="forward">
				<ion-icon name="add"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-list *ngFor="let selfCareBlock of selfCareBlocks">
		<ion-list-header>
			<ion-label *ngIf="selfCareBlock.firstInDay">{{nameOfDay(selfCareBlock.day)}}</ion-label>
			<ion-label >{{selfCareBlock.time.toString()}}</ion-label>
		</ion-list-header>
		<ion-item *ngFor="let selfCareInstance of selfCareBlock.instances">
			<ion-label>{{selfCareInstance.activity.name}}</ion-label>
			<ion-checkbox slot="end" [checked]="selfCareInstance.completed" *ngIf="selfCareInstance.day === today()" (click)="setInstanceComplete(selfCareInstance)"></ion-checkbox>
		</ion-item>
	</ion-list>
</ion-content>