<ion-header>
  <ion-toolbar>
    <ion-title>Moods</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-item-group>
		<ion-item-divider>Today</ion-item-divider>
		<ion-item *ngFor="let mood of availableMoods">
			<ion-label>{{mood}}</ion-label>
			<ion-checkbox [checked]="hasMood(mood)" (click)="toggleMood(mood)"></ion-checkbox>
		</ion-item>
	</ion-item-group>
	<ion-item-group *ngFor="let moodRecord of history">
		<ion-item-divider>{{displayForDate(moodRecord.date)}}</ion-item-divider>
		<ion-item *ngFor="let mood of moodRecord.moods">
			<ion-label>
				<ion-label>{{mood}}</ion-label>
			</ion-label>
		</ion-item>
	</ion-item-group>
</ion-content>
