<ion-content>
	<ion-grid style="height: 100%; display:flex; flex-flow: column">
		<ion-row class="ion-justify-content-center ion-align-items-center" style="flex: 2;">
			<ion-col size=8>
				<ion-img [src]="getBuddyAsset()"></ion-img>
			</ion-col>
		</ion-row>
		<ion-row class="ion-justify-content-center ion-align-items-center" style="flex: 1;">
			<ion-col size=8>
				<span style="text-align: center">Hello! {{getMoodMessage()}} {{getSelfCareReminder()}} </span>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>